<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <link rel="icon" type="image/x-icon" href="/js/favicon.ico">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>AdminWeb · Phoenix Framework</title>
  </head>
  <body class="mat-typography">
    <app-root></app-root>

    <%= if Application.get_env(:application, :env) == "dev" do %>
        <script type="module" src="<%= Routes.static_path(@conn, "/runtime.js") %>"></script>
        <script type="module" src="<%= Routes.static_path(@conn, "/polyfills.js") %>"></script>
        <script type="module" src="<%= Routes.static_path(@conn, "/styles.js") %>"></script>
        <script type="module" src="<%= Routes.static_path(@conn, "/vendor.js") %>"></script>
        <script type="module" src="<%= Routes.static_path(@conn, "/main.js") %>"></script>
    <% else %>
        <script src="runtime-es2015.js" type="module"></script>
        <script src="runtime-es5.js" nomodule defer></script>
        <script src="polyfills-es5.js" nomodule defer></script>
        <script src="polyfills-es2015.js" type="module"></script>
        <script src="styles-es2015.js" type="module"></script>
        <script src="styles-es5.js" nomodule defer></script>
        <script src="vendor-es2015.js" type="module"></script>
        <script src="vendor-es5.js" nomodule defer></script>
        <script src="main-es2015.js" type="module"></script>
        <script src="main-es5.js" nomodule defer></script>
    <% end %>
  </body>
</html>
